body {
    font-family: Arial;
    background-color: #f4f6f8;
    text-align: center;
    padding-top: 50px;
}

.container {
    background: white;
    width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

input {
    padding: 8px;
    width: 250px;
    margin: 10px;
}

button {
    padding: 8px 15px;
    background: #0077ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #005bcc;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}